@import "tailwindcss";
body
{
background-color: #000;
color: #fff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Parent
{
 padding: 20px;
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
}